
body {
    font-size: 20px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(79, 103, 109);
    background-attachment: fixed;
}

#container {
    display: block;
    top: 150px;
    left: 200px;
    width: 80%;
    max-width: 1200px;
    min-width: 200px;
    margin: auto;
    padding: 20px;
    background-color: white;
}

div h1 {
    color: white;
    margin:0;
    padding: 140px;
    background-image: url(../imagens/double-bubble-dark.png);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(196, 196, 196);
}

h2{
    margin-top: auto;
}

a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: rgb(79, 103, 109);
}

figure {
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    color: gray;
}